<ion-card>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <h2>Lista zakupów</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-card>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista zakupów</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-input placeholder="Dodaj produkt" (click)="openForm()"></ion-input>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Do kupienia</ion-card-title>
    </ion-card-header>

    <div *ngFor="let i of shoppingListItemsService.items">
    <ion-list *ngIf="i.ItemBought === false && i != null" lines="none">
      <ion-item-sliding>
        <ion-item [ngSwitch]="i.type">
          <ion-icon *ngSwitchCase="'drink'" name="pint-outline" slot="start"></ion-icon>
          <ion-icon *ngSwitchCase="'fastfood'" name="pizza-outline" slot="start"></ion-icon>
          <ion-icon *ngSwitchCase="'seafood'"  name="fish-outline" slot="start"></ion-icon>
          <ion-icon *ngSwitchDefault name="cart-outline" slot="start"></ion-icon>

          <ion-label>
            <h2>{{i.ItemName}}</h2>
            <p *ngIf="i.ItemDescription!=''">{{i.ItemDescription}}</p>
          </ion-label>

          <ion-badge slot="end">{{i.ItemQuantity}}</ion-badge>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="itemBought(i)">
            <ion-icon style="font-size: 23px;" name="checkmark-circle-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option (click)="edit(i.ItemId)">
            <ion-icon style="font-size: 20px;" name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Kupione</ion-card-title>
    </ion-card-header>
    <div *ngFor="let i of shoppingListItemsService.items" >
      <ion-list *ngIf="i.ItemBought === true && i != null" lines="none">
        <ion-item-sliding >
          <ion-item  [ngSwitch]="i.type">
            <ion-icon *ngSwitchCase="'drink'" name="pint-outline" slot="start"></ion-icon>
            <ion-icon *ngSwitchCase="'fastfood'" name="pizza-outline" slot="start"></ion-icon>
            <ion-icon *ngSwitchCase="'seafood'"  name="fish-outline" slot="start"></ion-icon>
            <ion-icon *ngSwitchDefault name="cart-outline" slot="start"></ion-icon>

            <ion-label>
              <h2>{{i.ItemName}}</h2>
              <p *ngIf="i.ItemDescription!=''">{{i.ItemDescription}}</p>
            </ion-label>
            <ion-badge slot="end">{{i.ItemQuantity}}</ion-badge>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="success" (click)="buyAgain(i)">
              <ion-icon style="font-size: 23px;" name="refresh-circle-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete(i.ItemId)">
              <ion-icon style="font-size: 20px;" name="trash-outline" ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ion-card>
</ion-content>
